<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Category</title>
    <script type="text/javascript" src="../../jquery-3.6.0.js"></script>
    <script type="text/javascript" src="../../jsFile/addCategory.js"></script>
    <script type="text/javascript" src="../../jsFile/deleteCategory.js"></script>

</head>

<body>
<table>
    <tr>
        <td>Category Name </td>
        <td><input type="text" id="categoryName"></td>
    </tr>
    <tr>
        <td></td>
        <td><!--<input type="submit" value="Add Category" id="addCategory">-->
            <button id="addCategory">Add New Category</button>
        </td>
    </tr>
</table>
</body>
</html>