<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="../../jquery-3.6.0.js"></script>
    <script type="text/javascript" src="../../jsFile/updateCategory.js"></script>
    <script type="text/javascript" src="../../jsFile/editCategory.js"></script>
</head>
<body>
<h4>Edit Category</h4>
    <table>
        <tr>
            <td>Category Name </td>
            <td id="sample">

            </td>
        </tr>
        <tr>
            <td></td>
            <td id="updateBtn">

            </td>
        </tr>
    </table>
</body>
</html>