<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="../../jquery-3.6.0.js"></script>
    <script type="text/javascript" src="../../jsFile/updateProduct.js"></script>
    <script type="text/javascript" src="../../jsFile/editProduct.js"></script>
</head>
<body>
<h2>edit now</h2>
    <table>
        <thead>
            <tr>
                <td>Product Name</td>
                <td id="prodNameForUpdate">

                </td>
            </tr>
            <tr>
                <td>Price</td>
                <td id="prodPriceForUpdate">

                </td>
            </tr>
            <tr>
                <td>Category Name</td>
                <td id="catNameForUpdate">
                    <select name="" id="categoryListForUpdate">

                    </select>
                </td>
            </tr>
            <tr>
                <td></td>
                <td id="productUpdateBtn">

                </td>
            </tr>
        </thead>
    </table>
</body>
</html>