<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product List</title>
    <script type="text/javascript" src="../../jquery-3.6.0.js"></script>
    <script type="text/javascript" src="../../jsFile/productList.js"></script>
    <script type="text/javascript" src="../../jsFile/updateProduct.js"></script>
</head>
<body>
<h3>Products</h3>
    <table>
        <thead>
            <tr>
                <td>Product Name</td>
                <td>Price</td>
                <td>Category Name</td>
    <!--
                <td>Category</td>
    -->
            </tr>
        </thead>
        <tbody>

        </tbody>
        <!--<tr id="productData">

        </tr>-->
    </table>
</body>
</html>